body {
  background-color: rgb(195, 220, 240);
  color: rgb(12, 40, 97);
  font-family:'Times New Roman', Times, serif;
  margin:0;
  padding:0;
}

header{
 background-color: whitesmoke;
 color:white;
 padding:10px;
 position:sticky;
 top:0;
 z-index:1000;   
}

nav ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
}

nav ul li{
    margin-right:15px;
}
section{
  padding: 10px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color:rgb(111, 164, 240);

}

h2,h3,h4,h5,h6,h7 {
    font-size: 22px;
    font-weight: bold;
    color:black;
}

section li{
    background-color:rgb(205, 241, 236, 0.958);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#experience {
    padding:10px;
}

.experience-grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.experience-item{
    flex: 1 1 calc(30 % - 20px);
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}
form[name="leave_message"] {
    display:flex;
    flex-direction:column;
    align-items: center;
    max-width:400px;
    margin:0 auto;
}

form[name="leave_message"] div{
    margin-bottom:10px;
}

form[name="leave_message"]label{
    font-size: 16px;
    color:rgb(7, 63, 168)
}
form[name="leave_message"]input,
form[name="leave_message"]textarea{
    width:100%
    font-size: 26px;
    padding:12px;
    margin-bottom: 10px;
    background-color: rgb(10, 234, 215);
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}
form[name= "leave_message"] button{
    width: 100%
    padding:5px;
    background-color: #2fc955;
    color:rgb(26, 29, 27);
    border:none;
    border-radius:4px;
    cursor:pointer;
}
messages li {
    background-color:rgb(215, 193, 236);
    padding:5px;
    margin-bottom: 5px;
    border-radius:4px;

}

#messages button{
    padding:2px;
    font-size:10px;
    background-color:#26cb86;
    color:black;
    border:none;
    border-radius:2px;
    cursor:pointer;

}

footer{
    padding:none;
    background-color:rgb(142, 182, 238);
    color:rgb(49, 17, 194);
}
@media only screen and (max-width:600px){
    header{
        font-size:20 px;
    }
}
section li,
.experience-item {
    flex:1 1 calc(100%- 20px);
}

form[name="leave_message"]{
    max-width: 300px;
}

}

@media only screen and (min-width:601px) and (max-width:1024px){
    h1{
        font-size:24px;
    }
}

section li,
.experience-item{
    flex:1 1 calc(48%-20px);
}

form[name="leave-message"] {
    max-width:400px;
}
}